Use the dictionary port1 and make a new dictionary in which keys become values and values become keys

In [5]:

port1={21:"FTP",22:"SSH",23:"telnet",80:"http"}
port2=dict([(value,key)for key,value in port1.items()])
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

Take a list of tuple and make a new list which contains the sum of the number of tuples

In [9]:
list1=[(1,2),(3,4),(5,6),(4,2)]
list2=[]
for each in range(0,len(list1)):
    a,b=list1[each]
    list2.append(a+b)
print(list2)

[3, 7, 11, 6]

Combine several lists to make a single list

In [10]:
list1=[(1,2,3),[1,2],['a','hit','less']]
list2=[]
list2=[i for each in list1 for i in each]
print (list2)

[1, 2, 3, 1, 2, 'a', 'hit', 'less']